<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxf.mapper.ClazzMapper">

	<!--查询列表-->
	<select id="getListByPage" parameterType="string" resultType="com.qxf.pojo.Clazz">
		SELECT
		t.id,
		t.name,
		t2.name AS majorName,
		t3.name AS instituteName
		FROM
		t_clazz t
		LEFT JOIN t_major t2 ON t2.id = t.major_id
		LEFT JOIN t_institute t3 ON t3.id = t2.institute_id
		WHERE 1=1
		<if test=" name != null and name != '' ">
			AND t.name LIKE CONCAT('%',#{name},'%')
		</if>

	</select>

</mapper>
