<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxf.mapper.DictMapper">

	<!--查询字典列表-->
	<select id="findDictByPage" parameterType="string" resultType="com.qxf.pojo.SysDict">
		SELECT
		t.id,
		t.dict_code AS dictCode,
		t.dict_value AS dictValue,
		t.dict_type_code AS dictTypeCode,
		t.dict_desc AS dictDesc,
		t.dict_order AS dictOrder
		FROM
		t_sys_dict t
		WHERE 1=1
		<if test=" dictValue != null and dictValue != '' ">
			AND t.dict_value LIKE CONCAT('%',#{dictValue},'%')
		</if>
		ORDER BY t.dict_type_code,t.dict_order
	</select>

	<!--根据类型绑定字典下拉框-->
	<select id="findListByDictTypeCode" parameterType="string" resultType="com.qxf.pojo.SysDict">
		SELECT
		t.id,
		t.dict_code AS dictCode,
		t.dict_value AS dictValue
		FROM
		t_sys_dict t
		WHERE t.dict_type_code=#{dictTypeCode}
		ORDER BY t.dict_order
	</select>

</mapper>
