<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxf.mapper.OperateRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qxf.pojo.OperateRecord">
		<id column="id" property="id" />
		<result column="request_url" property="requestUrl" />
		<result column="remote_addr" property="remoteAddr" />
		<result column="params" property="params" />
		<result column="method" property="method" />
		<result column="create_time" property="createTime" />
		<result column="user_id" property="userId"/>
		<result column="is_success" property="isSuccess" />
	</resultMap>

	<select id="findOperateRecordByPage" resultMap="BaseResultMap">
		SELECT
		op_r.id,
		op_r.remote_addr,
		op_r.params,
		op_r.method,
		op_r.create_time,
		op_r.is_success,
		IFNULL(u.username, '未知') AS username,
		IFNULL(
		p.`name`,
		op_r.request_url
		) AS permName
		FROM
		t_operate_record AS op_r
		LEFT JOIN t_user AS u ON op_r.user_id = u.id
		LEFT JOIN t_perms AS p ON op_r.request_url = p.url
		WHERE
		(1 = 1)
		<if test="searchKeyWord != null and ''!=searchKeyWord">
			AND (op_r.request_url LIKE CONCAT('%',#{searchKeyWord},'%')
			OR op_r.remote_addr LIKE CONCAT('%',#{searchKeyWord},'%')
			OR op_r.method LIKE CONCAT('%',#{searchKeyWord},'%')
			OR u.username LIKE CONCAT('%',#{searchKeyWord},'%'))
		</if>
		ORDER BY op_r.create_time DESC
	</select>

	<select id="findAllRequstCount" resultType="com.qxf.pojo.OperateRecord">
      SELECT
		rec.method,
		COUNT(*) AS total,
		'1' AS type
		FROM
			`t_operate_record` AS rec
		GROUP BY
			rec.method
		UNION ALL
		SELECT
			u.username AS method,
			COUNT(*) AS total,
			'2' AS type
		FROM
			t_operate_record AS rec1
		INNER JOIN t_user u ON rec1.user_id = u.id
		GROUP BY
			u.username
		UNION ALL
		SELECT
			'未知' AS method,
			COUNT(*) AS total,
			'2' AS type
		FROM
			t_operate_record AS rec2
		WHERE
			rec2.user_id IS NULL
		OR rec2.user_id NOT IN (SELECT id FROM t_user)
	</select>

</mapper>
