<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxf.mapper.RoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qxf.pojo.Role">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="role_desc" property="roleDesc" />
	</resultMap>

	<select id="findRoleByPage" resultMap="BaseResultMap">
        SELECT
        role.id,
        role.name,
		role.role_desc
        FROM
        t_role AS role
		WHERE (1=1)
		<if test=" roleName != null and ''!=roleName">
			AND role.`name` LIKE CONCAT('%',#{roleName},'%')
		</if>
	</select>

	<!--绑定权限下拉框-->
	<select id="findAllRoles" resultMap="BaseResultMap">
		SELECT
		role.id,
		role.`name`
		FROM
		t_role role
	</select>

</mapper>
