<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxf.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qxf.pojo.User">
		<id column="id" property="id" />
        <result column="photo_url" property="photoUrl"/>
		<result column="username" property="username" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="enable" property="enable" />
		<result column="create_time" property="createTime" />
		<result column="last_login_time" property="lastLoginTime" />
	</resultMap>

	<sql id="queryAll">
		SELECT
		u.id,
		u.username,
		u.email,
		u.photo_url AS photoUrl,
		u.enable,
		u.create_time AS createTime,
		u.last_login_time AS lastLoginTime,
		r.id AS roleId,
		r.name AS roleName
		FROM
		t_user AS u
		INNER JOIN t_user_role ur ON u.id = ur.user_id
		INNER JOIN t_role r ON ur.role_id = r.id
		WHERE 1=1
		<if test="username != null and ''!= username">
			AND u.username LIKE CONCAT('%',#{username},'%')
		</if>
	</sql>

	<!--分页查询-->
	<select id="findUserByPage" resultType="com.qxf.pojo.User">
		<include refid="queryAll" />
	</select>

	<!--不分页查询-->
	<select id="findAllUser" resultType="com.qxf.pojo.User">
		<include refid="queryAll" />
	</select>

	<select id="checkUser" resultType="com.qxf.pojo.User">
		SELECT
		u.id,
		u.username,
		u.enable,
		u.password,
		u.photo_url AS photoUrl,
		u.email,
		r.id AS roleId,
		r.name AS roleName
		FROM
		t_user AS u
		LEFT JOIN t_user_role AS ur ON u.id = ur.user_id
		LEFT JOIN t_role AS r ON ur.role_id = r.id
		WHERE
		u.password = #{password} AND u.username = #{username}
	</select>

	<select id="findUserByUsername" parameterType="string" resultMap="BaseResultMap">
		SELECT id,username,password,email,photo_url,enable from t_user where username=#{username}
	</select>
</mapper>
